@font-face {
    font-family: "Kalam";
    src: url(https://fonts.gstatic.com/s/kalam/v16/YA9Qr0Wd4kDdMtD6GjLMkiQ.woff2) format("woff2"),
    url(https://fonts.gstatic.com/s/kalam/v16/YA9dr0Wd4kDdMthROCc.woff2) format("woff2"),
    url(https://fonts.gstatic.com/s/kalam/v16/YA9Qr0Wd4kDdMtDqHTLMkiQ.woff2) format("woff2");

    /* Kalam font-weights : 300, 400, 700 */

}

html{
    scroll-behavior: smooth;
    display: block;
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    background-color:cornflowerblue;
    text-align: center;
    
}

h1, h2{
    font-weight: 700;
}
p{
    font-weight: 700;
}

/* ----------------Navigation Bar */
div{
    display: block;
}

.navbar{
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 2rem;

}
ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    display:inline-flex;
    float: right;
    flex-direction: row-reverse;
    background-color: rgb(255, 50, 91);
    width: 100%;
    /* text-align: justify; */
    
}
li{
    font-size: 1.5rem;
    color: whitesmoke;
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
    text-decoration: none;
    /* display: inline-block;
    justify-content: space-between; */
    /* float: right; */
}
a{
    text-decoration: none;
}
li:hover{
    color: gray;
    cursor: pointer;
}
li:active{
    color: darkslategray;
    font-size:1.8rem;
    background-color: darkred;
    border-radius: 45%;
    transition: 0.2s;
}

/*-----------------Intro  */

.intro{
    height: 30rem;
    padding-top: 2rem;
    background-image: url(../images/Pizza_title_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100rem 25rem;

    
    
}
.intro h1{
    color:cornflowerblue;
    font-size: 3rem;
    margin-top: 10rem;
    padding: 2rem;
    background-color: hsla(360, 18%, 44%, 0.8);
    text-align: center;
}

/* -------------Passion */
#passion{
    margin: 3rem auto;
}
#passion{
    padding: 0 2rem;
    text-align: left;
}
#passion h2{
    color: orangered;
    text-shadow: 0.1rem 0.1rem black;
}

/* Picture Gallery */
#photos{
    margin:4rem auto;
}
img{
    width: 30%;
    margin: 1.5%;
}

/* Join section */

#come{
    background-image: url(../images/Pizza_dough_join.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45rem 50rem;
}

#come h2, h3{
    color: hsl(110, 100%, 46%);
    text-shadow: 0.1rem 0.1rem black;
}

/* Button */

.join{
    border-radius:35%;
    border-color: goldenrod;
    background-color: green;
    color: white;
    font-size: 3rem;
    transition-duration: 0.4s;
}
.join:hover{
    cursor: pointer;
    background-color: grey;
}
.join:active{
    transition-duration: 0.1s;
    font-size:2.85rem;
    text-shadow: 0.2rem 0.2rem black;
    background-color: darkslategray;

}
/* Footer Section */

.footer{
    color: whitesmoke;
    background-color: rgb(255, 50, 91);
    opacity: 1;
}

/* Media inquiries */

@media screen and (max-width: 320px){
    .navbar{
        display:none;
    }
    p{
        min-width:200px;
    }

}